body{
    background-image: url(/PortafolioFrontEnd1/img/chalten.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel.slide{
    height: 10%;
    width:100%; 
    color:#fff;
  
}

.navbar.navbar-expand-lg.bg-dark{
    background-color:blueviolet !important;
}

i.fa-brands.fa-instagram.fa-2x1:hover{
    color:blue;
}
i.fa-brands.fa-linkedin.fa-2x1:hover{
    color:blue;
}
i.fa-brands.fa-facebook.fa-2x1:hover{
    color:blue;
}
i.fa-brands.fa-twitter.fa-2x1:hover{
    color:blue;
}
i.fa-brands.fa-github.fa-2x1:hover{
    color:blue;
}
i.fa-solid.fa-user.fa-2x1:hover{
    color:blue;
}
i.fa-solid.fa-user-lock.fa-2x1:hover{
    color:blue;
}
.list-group {
    --bs-list-group-bg: transparent;  
    --bs-list-group-border-color: none;
} 

section.about, section.dashboard{
    margin-top: 10rem;
}
section.about{
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}
section.panel{
    margin-top: 9rem;
}
section.columnas{
    margin-top: 9rem;
}

